.quotes {
    margin-top: 50px;
    background: #000000;

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 25px;
        flex-wrap: wrap;

        &-content {
            padding: 90px 0;
            max-width: 330px;
            color: $wh;
            text-align: center;
            font-weight: 400;
        }
    }

    &-text {
        font-size: 18px;
        margin-bottom: 17px;
    }

    &-author {
        font-size: 14px;
        margin-bottom: 9.5px;
        text-transform: uppercase;
    }

    &-status {
        font-size: 16px;
        color: #8A8A8A;
        text-transform: capitalize;
    }
}