@font-face {
    font-family: LiberationSerif, Bold;
    font-display: swap;
    src: url("../fonts/LiberationSerif-Bold.woff") format("woff"), url("../fonts/LiberationSerif-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: LiberationSerif, BoldItalic;
    font-display: swap;
    src: url("../fonts/LiberationSerif-BoldItalic.woff") format("woff"), url("../fonts/LiberationSerif-BoldItalic.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: LiberationSerif, Regular;
    font-display: swap;
    src: url("../fonts/LiberationSerif-Regular.woff") format("woff"), url("../fonts/LiberationSerif-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: LiberationSerif, Italic;
    font-display: swap;
    src: url("../fonts/LiberationSerif-Italic.woff") format("woff"), url("../fonts/LiberationSerif-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}