@import 'base/_variables';
@import 'base/_mixins';
@import 'base/_fonts';

@import 'blocks/header';
@import 'blocks/about';
@import 'blocks/articles';

* {
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-weight: 600;
}

.wrapper {
    padding: 0 4%;
}

a {
    color: #212121;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}